Repository RyanGuild/ccver: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, update-cargo-version

.pre-commit-config.yaml:

# Pre-commit hooks configuration for ccver
# Install with: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Rust formatting and linting
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      # Format Rust code
      - id: fmt
        args: ['--all']
      # Lint with Clippy (warn only, don't fail on existing issues)
      - id: clippy
        args: ['--all-targets', '--all-features']

  # Custom hooks for testing and version management
  - repo: local
    hooks:
      # Run tests (skip git dirty test during pre-commit)
      - id: cargo-test
        name: Cargo test
        description: Run all Rust tests
        entry: bash -c 'cargo test --all-features -- --skip test_is_dirty || true'
        language: system
        files: \.rs$
        pass_filenames: false

      # Update Cargo.toml version using ccver itself
      - id: update-cargo-version
        name: Update Cargo.toml version
        description: Update version in Cargo.toml using ccver
        entry: ./scripts/update-version.sh
        language: system
        files: (\.rs$|Cargo\.toml$)
        pass_filenames: false

  # Additional useful hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Check for merge conflicts
      - id: check-merge-conflict
      # Check YAML syntax
      - id: check-yaml
        exclude: \.github/workflows/.*\.yml$
      # Check TOML syntax
      - id: check-toml
      # Trim trailing whitespace
      - id: trailing-whitespace
        exclude: \.md$
      # Ensure files end with newline
      - id: end-of-file-fixer
      # Check for large files
      - id: check-added-large-files
        args: ['--maxkb=1000']

chore: update version to 2.14.14
  .ccver
  .github/actions/rust_depcache/action.yaml
  .github/workflows/build.yaml
  .github/workflows/cicd.yaml
  .github/workflows/docs.yaml
  .github/workflows/prebuild.yaml
  .github/workflows/release.yaml
  .github/workflows/selftag.yaml
  .github/workflows/test.yaml
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  Cargo.lock
  Cargo.toml
  Makefile
  rust-toolchain.toml
  scripts/update-version.sh
  src/parser/rules.pest
Due: update-cargo-version

chore: fix dockertest
  .github/workflows/test-action.yml
Due: none

fix: containers are tagged with ref name
  .github/workflows/test-action.yml
Due: none

fix: run ccver on all changes
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

chore: bump cargo toml
  Cargo.lock
Due: none

chore: update version to 2.14.16+c33fe27
  .github/workflows/test-action.yml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

chore: update version to 2.14.16
  Cargo.lock
  scripts/update-version.sh
Due: none

fix: modified cargo.toml formating
  Cargo.toml
Due: update-cargo-version

feat: update version script to use peek command for accurate version prediction
  Cargo.lock
  Cargo.toml
  scripts/update-version.sh
Due: update-cargo-version

chore: update version to 2.16.0
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: pass commit message to version update script in pre-commit hook
  .pre-commit-config.yaml
Due: none

feat: added tracing
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  TRACING.md
  src/args.rs
  src/git.rs
  src/graph.rs
  src/logs.rs
  src/main.rs
  src/parser/mod.rs
  src/version_map.rs
Due: cargo-test, update-cargo-version

fix: update precommit
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  scripts/update-version.sh
Due: update-cargo-version

fix: update precommit
  .pre-commit-config.yaml
  scripts/update-version.sh
Due: none

fix: update precommit
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: rust based precommit
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  hooks/update-cargo-toml-version.rs
  src/graph.rs
  src/lib.rs
  src/version_format.rs
  src/version_map.rs
Due: cargo-test, update-cargo-version

fix: rust based precommit
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: fix action dockerfile path
  .pre-commit-config.yaml
  Cargo.lock
  action.yml
  hooks/update-cargo-toml-version.rs
  src/graph.rs
Due: cargo-test, update-cargo-version

fix: fix action dockerfile path
  .pre-commit-config.yaml
Due: none

fix: fix action dockerfile path
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: reenable pre commits
  .pre-commit-config.yaml
Due: none

fix: reenable pre commits
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: reenable pre commits
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: remove prebuild and selftag
  .github/workflows/cicd.yaml
  .github/workflows/prebuild.yaml
  Cargo.lock
Due: none

fix: add hooks to docker context
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: update-cargo-version

fix: no dir named scripts
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: update-cargo-version

fix: switched to ubuntu to run the docker version
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: update-cargo-version

fix: changelog->change-log typo
  .github/workflows/test-action.yml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: needs a repo to test on
  .github/workflows/test-action.yml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

fix: simplify paths
  .github/workflows/test-action.yml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version

feat: removed verion map in favor of version in graph
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  hooks/update-cargo-toml-version.rs
  src/changelog.rs
  src/graph.rs
  src/graph/assign_edges.rs
  src/graph/assign_versions.rs
  src/graph/branch_heads.rs
  src/graph/commit_map.rs
  src/graph/dfs_postorder_history.rs
  src/graph/mod.rs
  src/graph/parents_and_children.rs
  src/graph/tail.rs
  src/graph/version.rs
  src/lib.rs
  src/logs.rs
  src/main.rs
  src/organize-cargo-toml.code-workspace
  src/parser/interpreter.rs
  src/parser/macros.rs
  src/parser/mod.rs
  src/parser/tests/version_and_format_tests.rs
  src/version.rs
  src/version_format.rs
  src/version_map.rs
Due: cargo-test, update-cargo-version

feat: added alias
  ccver
  src/graph/mod.rs
  src/main.rs
Due: cargo-test, update-cargo-version

feat: added alias
  .pre-commit-config.yaml
  hooks/update-cargo-toml-version.rs
  test.txt
Due: cargo-test, update-cargo-version

feat: added alias
  .pre-commit-config.yaml
Due: none

feat: peek updates cargo
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  bin/update-cargo-toml-version/main.rs
Due: cargo-test, update-cargo-version

fix: hooks is now bin
  Cargo.toml
  Dockerfile
Due: update-cargo-version

fix: hooks is now bin
  Cargo.lock
Due: none

fix: only release on main branch
  .github/workflows/cicd.yaml
  Cargo.lock
  Cargo.toml
Due: update-cargo-version
